:root {
  color-scheme: light dark;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  touch-action: auto;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
}

button,
input {
  font-family: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100dvh;

  padding: 0;
  margin: 0;

  color: var(--clr-text);

  /* overflow-y: auto; */
  /* overflow-x: hidden; */
}

body::before {
  content: '';

  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  min-height: 100vh;

  background: var(--clr-crust);
  background: var(--clr-gradient-bg);
  background-attachment: fixed;

  mix-blend-mode: multiply;

  z-index: -1;
}

body::after {
  content: '';

  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  min-height: 100vh;

  background-attachment: fixed;

  opacity: var(--bg-pattern-opacity);

  z-index: -2;

  backdrop-filter: blur(12px);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  /* margin-block: 8rem; */
}

.bg-image-container {
  content: '';
  position: static;
  top: 0;
  left: 0;

  width: 100vw;
  max-height: 100vh;
  overflow: hidden;

  z-index: -100;
}

.bg-image {
  content: '';
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  opacity: 0.25;
}

.btn-box-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px var(--clr-box-shadow-0);

  transition-property: box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.btn-box-shadow:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px var(--clr-box-shadow-1);
}

@media (prefers-color-scheme: dark) {
  .bg-image-dark {
    display: block;
  }

  .bg-image-light {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  .bg-image-dark {
    display: none;
  }

  .bg-image-light {
    display: block;
  }
}
