---
import Layout from '@layouts/Layout.astro';
import links from '@content/links.json';
import LinkGroup from '@/components/LinkGroup.astro';

const { linkGroups } = links;

const enabledLinkGroups = linkGroups.filter((group) => {
  group.links.some((link) => link.enabled);
});
---

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    max-width: 26rem;
    width: 100%;

    padding-inline: 1rem;

    scroll-padding-block: 4rem;
    scroll-margin-block: 4rem;
  }

  h1 {
    font-size: 2rem;

    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.4ch;

    margin: 0;
  }

  div.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: fit-content;
    height: 100vh;
  }

  hr.hero-hr {
    width: 100%;

    border: none;

    background-color: var(--clr-primary);
    height: 2px;

    margin-block: 1.5rem;
  }

  div.hero > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;

    margin-top: 0;
    margin-bottom: 4rem;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--clr-base);

    width: 100%;
    max-width: 16rem;

    font-size: 1rem;
    color: var(--clr-text);
    text-decoration: none;
    font-weight: 500;

    padding-block: 0.8rem;
    padding-inline: 1rem;

    border-radius: 999px;
    outline: 1px solid var(--clr-surface-0);

    transition-property: background-color, color, outline;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
  }

  .btn:hover {
    background-color: var(--clr-surface-0);
    outline: 1px solid var(--clr-surface-1);
    color: var(--clr-primary);
  }

  @media screen and (min-width: 768px) {
    h1 {
      font-size: 4rem;
    }

    div.hero > p {
      font-size: 1.4rem;
    }

    .btn {
      font-size: 1.2rem;
    }
  }
</style>

<Layout title='Voidtrick'>
  <div class='hero'>
    <h1>Voidtrick</h1>
    <hr class='hero-hr' />
    <p>Hello, world.</p>
    <a href='#links' class='btn'>View Links</a>
  </div>
  <section id='links'>
    {
      enabledLinkGroups.map((group: any) => (
        <LinkGroup label={group.label} icon={group.icon} links={group.links} />
      ))
    }
  </section>
</Layout>
