---

---

<style>
  footer {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--clr-base);

    width: 100%;
    min-height: 6rem;

    padding-inline: 1rem;
    margin-top: 16rem;
  }
</style>

<footer>
  <p>&#169; 2026 Voidtrick</p>
</footer>
