---
const { url, label, icon, external } = Astro.props;
---

<style>
  a {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 0.75ch;

    font-size: 1rem;
    color: var(--clr-text);
    text-decoration: none;
    font-weight: 600;

    width: 100%;

    padding-block: 0.5rem;
    padding-inline: 1rem;

    margin: 0;

    border: none;

    background-color: var(--clr-surface-0);
    outline: 2px solid var(--clr-surface-1);
    border-radius: 999px;

    transition-property: background-color, outline;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
  }

  a:hover {
    background-color: var(--clr-surface-1);
    outline: 2px solid var(--clr-primary);
  }

  a:hover > .link-icon {
    color: var(--clr-primary);
  }

  .link-icon {
    font-size: 1.8rem;
    font-weight: 400;

    transition-property: color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
  }

  .link-label {
    position: relative;
    margin-inline: auto;
    left: -0.6rem;
  }
</style>

<a href={url} target={external ? '_blank' : '_self'}>
  {icon && <span class={`link-icon ${icon}`} />}
  <span class='link-label'>{label}</span>
</a>
